<?xml version="1.0" encoding="UTF-8" ?>
	<widget xmlns 	= "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.noah.app"
        versionCode = "10" 
        version     = "1.0.0" >

	    <gap:platform name='android' />

	    <name>Test App II</name>

	    <description>
	        Lovely little app used to test code
	    </description>

	    <author href="http://noahthomas.us/" email="007noahthomas@gmail.com">
	        Noah Thomas
	    </author>

	    <preference name='DisallowOverscroll' value='true' />
		<preference name='UIWebViewBounce' value='false' />
		<preference name='webviewbounce' value='false' />
		<preference name='orientation' value='portrait' />
		<preference name='fullscreen' value='true' />

	</widget>